## Dimensionality Reduction Using Backward Feature Elimination

In [1]:
import pandas as pd

In [2]:
adData = pd.read_csv('ad_data.csv', sep=',', header=None, error_bad_lines=False)
adData.head()

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,0,1,2,3,4,5,6,7,8,9,...,1549,1550,1551,1552,1553,1554,1555,1556,1557,1558
0,125,125,1.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
1,57,468,8.2105,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
2,33,230,6.9696,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
3,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
4,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.

The pd.read_csv() function's arguments are the filename as a string and the limit separator of a CSV file, which is ",". Please note that as there are no headers for the dataset. We specifically mention this using the header = None command. The last argument, **error_bad_lines=False**, is to skip any errors in the format of the file and then load data.

In [3]:
# dataset shape
print(adData.shape)

(3279, 1559)

In [4]:
# summarizing the statistics of the numerical raw data
adData.describe()

,4,5,6,7,8,9,10,11,12,13,...,1548,1549,1550,1551,1552,1553,1554,1555,1556,1557
count,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000,...,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000
mean,0.004270,0.011589,0.004575,0.003355,0.003965,0.011589,0.003355,0.004880,0.009149,0.004575,...,0.006099,0.004575,0.003660,0.002440,0.003050,0.006404,0.012809,0.013419,0.009759,0.001525
std,0.065212,0.107042,0.067491,0.057831,0.062850,0.107042,0.057831,0.069694,0.095227,0.067491,...,0.077872,0.067491,0.060393,0.049341,0.055148,0.079783,0.112466,0.115077,0.098320,0.039026
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

As we saw from the shape of the data, the dataset has 3279 examples with 1559 variables. The variable set has both categorical and numerical variables. The summary statistics are only derived for numerical data.

In [5]:
# separate dependent and independent variables
# preparing X variables
X = adData.loc[:,0:1557] # got the features from output above
print(X.shape)

# preparing y variable
y = adData[1558]
print(y.shape)

(3279, 1558)
(3279,)

In [6]:
# head of independent variables
X.head(15)

,0,1,2,3,4,5,6,7,8,9,...,1548,1549,1550,1551,1552,1553,1554,1555,1556,1557
0,125,125,1.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,57,468,8.2105,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,33,230,6.9696,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,59,460,7.7966,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,60,234,3.9,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,?,?,?,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,90,52,0.5777,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,90,60,0.6666,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,90,60,0.6666,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,33,230,6.9696,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

From the output, we can see that there are many missing values in the dataset, which are represented by **?**. For further analysis, we have to remove these special characters and then replace those cells with assumed values. One popular method of replacing special characters is to impute the mean of the respective feature. Let's adopt this strategy. However, before doing that, let's look at the data types for this dataset to adopt a suitable replacement strategy.

In [7]:
# printing data types of dataset
print(X.dtypes)

0       object
1       object
2       object
3       object
4        int64
         ...
1553     int64
1554     int64
1555     int64
1556     int64
1557     int64
Length: 1558, dtype: object

In [8]:
# replacing special characters with NaN values for the first 3 columns which are of type object
for i in range(0,3):
    X[i] = X[i].str.replace('?', 'nan').values.astype(float)
print(X.head(15))

     0      1       2    3     4     5     6     7     8     9     ...  1548  \
0   125.0  125.0  1.0000    1     0     0     0     0     0     0  ...     0
1    57.0  468.0  8.2105    1     0     0     0     0     0     0  ...     0
2    33.0  230.0  6.9696    1     0     0     0     0     0     0  ...     0
3    60.0  468.0  7.8000    1     0     0     0     0     0     0  ...     0
4    60.0  468.0  7.8000    1     0     0     0     0     0     0  ...     0
5    60.0  468.0  7.8000    1     0     0     0     0     0     0  ...     0
6    59.0  460.0  7.7966    1     0     0     0     0     0     0  ...     0
7    60.0  234.0  3.9000    1     0     0     0     0     0     0  ...     0
8    60.0  468.0  7.8000    1     0     0     0     0     0     0  ...     0
9    60.0  468.0  7.8000    1     0     0     0     0     0     0  ...     0
10    NaN    NaN     NaN    1     0     0     0     0     0     0  ...     0
11   90.0   52.0  0.5777    1     0     0     0     0     0     0  ...     0
12   90.0   60.0  0.6666    1     0     0     0     0     0     0  ...     0
13   90.0   60.0  0.6666    1     0     0     0     0     0     0  ...     0
14   33.0  230.0  6.9696    1     0     0     0     0     0     0  ...     0

    1549  1550  1551  1552  1553  1554  1555  1556  1557
0      0     0     0     0     0     0     0     0     0
1      0     0     0     0     0     0     0     0     0
2      0     0     0     0     0     0     0     0     0
3      0     0     0     0     0     0     0     0     0
4      0     0     0     0     0     0     0     0     0
5      0     0     0     0     0     0     0     0     0
6      0     0     0     0     0     0     0     0     0
7      0     0     0     0     0     0     0     0     0
8      0     0     0     0     0     0     0     0     0
9      0     0     0     0     0     0     0     0     0
10     0     0     0     0     0     0     0     0     0
11     0     0     0     0     0     0     0     0     0
12     0     0     0     0     0     0     0     0     0
13     0     0     0     0     0     0     0     0     0
14     0     0     0     0     0     0     0     0     0

[15 rows x 1558 columns]

To replace the first three columns, we loop through the columns using the **for() loop** and also using the **range()** function. Since the first three columns are of the **object** or **string type**, we use the **.str.replace()** function, which stands for "string replace". After replacing the special characters, **?**, of the data with nan, we convert the data type to **float** with the **.values.astype(float)** function, which is required for further processing. By printing the first 15 examples, we can see that all special characters have been replaced with **nan** or **NaN** values

In [9]:
# replacing special characters in the remaining columns which are of type integer
for i in range(3, 1557):
    X[i] = X[i].replace('?', 'NaN').values.astype(float)

Now that we have replaced special characters in the data with NaN values, we can use the fillna() function in pandas to replace the NaN values with the mean of the column.

In [10]:
# impute the 'NaN' with the mean of the values
for i in range(0,1557):
    X[i] = X[i].fillna(X[i].mean())
print(X.head(15))

          0           1         2     3     4     5     6     7     8     \
0   125.000000  125.000000  1.000000   1.0   0.0   0.0   0.0   0.0   0.0
1    57.000000  468.000000  8.210500   1.0   0.0   0.0   0.0   0.0   0.0
2    33.000000  230.000000  6.969600   1.0   0.0   0.0   0.0   0.0   0.0
3    60.000000  468.000000  7.800000   1.0   0.0   0.0   0.0   0.0   0.0
4    60.000000  468.000000  7.800000   1.0   0.0   0.0   0.0   0.0   0.0
5    60.000000  468.000000  7.800000   1.0   0.0   0.0   0.0   0.0   0.0
6    59.000000  460.000000  7.796600   1.0   0.0   0.0   0.0   0.0   0.0
7    60.000000  234.000000  3.900000   1.0   0.0   0.0   0.0   0.0   0.0
8    60.000000  468.000000  7.800000   1.0   0.0   0.0   0.0   0.0   0.0
9    60.000000  468.000000  7.800000   1.0   0.0   0.0   0.0   0.0   0.0
10   64.021886  155.344828  3.911953   1.0   0.0   0.0   0.0   0.0   0.0
11   90.000000   52.000000  0.577700   1.0   0.0   0.0   0.0   0.0   0.0
12   90.000000   60.000000  0.666600   1.0   0.0   0.0   0.0   0.0   0.0
13   90.000000   60.000000  0.666600   1.0   0.0   0.0   0.0   0.0   0.0
14   33.000000  230.000000  6.969600   1.0   0.0   0.0   0.0   0.0   0.0

    9     ...  1548  1549  1550  1551  1552  1553  1554  1555  1556  1557
0    0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0     0
1    0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0     0
2    0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0     0
3    0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0     0
4    0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0     0
5    0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0     0
6    0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0     0
7    0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0     0
8    0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0     0
9    0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0     0
10   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0     0
11   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0     0
12   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0     0
13   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0     0
14   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0     0

[15 rows x 1558 columns]

In [11]:
# scale data using MinMaxScaler; scaling data is useful in the modeling step
from sklearn.preprocessing import MinMaxScaler
minmaxScaler = MinMaxScaler()

# transforming with the scaler function
X_tran = pd.DataFrame(minmaxScaler.fit_transform(X))
print(X_tran.head())

       0         1         2     3     4     5     6     7     8     9     \
0  0.194053  0.194053  0.016642   1.0   0.0   0.0   0.0   0.0   0.0   0.0
1  0.087637  0.730829  0.136820   1.0   0.0   0.0   0.0   0.0   0.0   0.0
2  0.050078  0.358372  0.116138   1.0   0.0   0.0   0.0   0.0   0.0   0.0
3  0.092332  0.730829  0.129978   1.0   0.0   0.0   0.0   0.0   0.0   0.0
4  0.092332  0.730829  0.129978   1.0   0.0   0.0   0.0   0.0   0.0   0.0

   ...  1548  1549  1550  1551  1552  1553  1554  1555  1556  1557
0  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
3  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
4  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

[5 rows x 1558 columns]

You have come to the end of the first exercise. In this exercise, we loaded the dataset, extracted summary statistics, cleaned the data, and also scaled the data. You can see that in the final output, all the raw values have been transformed into scaled values.

In [12]:
# createing a high dimension data set
import numpy as np
X_hd = pd.DataFrame(np.tile(X_tran, (1,2)))

In [13]:
print(X_tran.shape)
print(X_hd.shape)

(3279, 1558)
(3279, 3116)

Define the backward elimination model. Backward elimination works by providing two arguments to the **RFE()** function, which is the model we want to try (logistic regression in our case) and the number of features we want the dataset to be reduced to.

In [15]:
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import RFE # Recursive Feature Elimination

# define classification model
backModel = LogisticRegression()

# reducing dimensionality to 250 features for the Recursive Feature Elimination model
rfe = RFE(backModel, n_features_to_select=250) # (classification_nodel, desired # of features)

In this implementation, the number of features that we have given, 250, is identified through trial and error. The process is to first assume an arbitrary number of features and then, based on the final metrics, arrive at the most optimum number of features for the model. In this implementation, our first assumption of 250 implies that we want the backward elimination model to start eliminating features until we get the best 250 features.

Fitting the backward elimination method is done using the .fit() function. We give the independent and dependent training sets.

In [16]:
# fitting the rfe for selecting the top 250 features
import time
t0 = time.time()
rfe = rfe.fit(X_hd, y)
t1 = time.time()
print('Recursive Elimination time: {} s'.format(round(t1-t0, 3)))

Recursive Elimination time: 1066.166 s

Display the features identified using the backward elimination method. We can display the 250 features that were identified using the backward elimination process using the get_support() function.

In [17]:
# getting the indexes of the features used
rfe.get_support(indices=True)

array([   1,    9,   64,   91,   95,  104,  120,  139,  167,  172,  175,
        180,  183,  187,  246,  251,  265,  269,  278,  307,  317,  346,
        351,  357,  359,  370,  372,  381,  386,  398,  417,  418,  426,
        450,  455,  456,  457,  478,  499,  506,  508,  545,  549,  562,
        634,  638,  658,  663,  679,  686,  705,  723,  739,  766,  803,
        818,  819,  849,  860,  888,  935,  948,  950,  968,  983, 1009,
       1011, 1018, 1021, 1022, 1035, 1043, 1060, 1081, 1086, 1087, 1116,
       1167, 1179, 1180, 1228, 1229, 1243, 1262, 1271, 1278, 1286, 1314,
       1326, 1327, 1341, 1351, 1364, 1367, 1371, 1380, 1382, 1388, 1399,
       1405, 1413, 1416, 1423, 1441, 1445, 1455, 1458, 1462, 1465, 1483,
       1484, 1493, 1510, 1531, 1532, 1533, 1537, 1539, 1555, 1558, 1559,
       1622, 1633, 1649, 1653, 1662, 1678, 1691, 1697, 1703, 1725, 1730,
       1733, 1741, 1801, 1804, 1809, 1822, 1827, 1865, 1875, 1904, 1909,
       1915, 1917, 1928, 1930, 1939, 1956, 1975, 1976, 1978, 1984, 1999,
       2008, 2013, 2014, 2015, 2036, 2057, 2064, 2066, 2069, 2095, 2103,
       2107, 2114, 2120, 2216, 2221, 2237, 2244, 2281, 2293, 2324, 2361,
       2365, 2376, 2377, 2407, 2418, 2446, 2461, 2463, 2472, 2493, 2506,
       2508, 2526, 2541, 2556, 2567, 2576, 2579, 2580, 2593, 2601, 2616,
       2618, 2636, 2639, 2644, 2645, 2667, 2672, 2674, 2725, 2737, 2738,
       2786, 2787, 2801, 2805, 2820, 2829, 2834, 2872, 2884, 2885, 2899,
       2909, 2920, 2922, 2925, 2938, 2946, 2957, 2963, 2965, 2971, 2974,
       2981, 2992, 2995, 3003, 3013, 3016, 3020, 3023, 3041, 3042, 3065,
       3068, 3085, 3089, 3090, 3095, 3097, 3110, 3113])

In [18]:
# split dataset into training and testing sets for modeling
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_hd, y, test_size=0.3, random_state=123)
print('Training shape: {}'.format(X_train.shape))
print('Testing shape: {}'.format(X_test.shape))

Training shape: (2295, 3116)
Testing shape: (984, 3116)

In [19]:
# transform the train and test sets to use the top 250 features identified by rfe
X_train_tran = rfe.transform(X_train)
X_test_tran = rfe.transform(X_test)
print('Training set shape: {}'.format(X_train_tran.shape))
print('Testing set shape: {}'.format(X_test_tran.shape))

Training set shape: (2295, 250)
Testing set shape: (984, 250)

We can see that both the training set and test sets have been reduced to the 250 best features.

In [20]:
# fit Logistic Regression model on training set
RfeModel = LogisticRegression()
t0=time.time()
RfeModel.fit(X_train_tran, y_train)
t1=time.time()
print('Total training time: {}s'.format(round(t1-t0, 3)))

Total training time: 0.025s

In [21]:
# predictions on the test set
pred = RfeModel.predict(X_test_tran)
print('Accuracy of Logistic Regression model'
     ' after recursive elimination:'
     ' {}'.format(RfeModel.score(X_test_tran, y_test)))

Accuracy of Logistic Regression model after recursive elimination: 0.9817073170731707

You can see that the accuracy measure for this model has improved compared to the one we got for the model with higher dimensionality, which was **0.97** in Activity 14.01, Fitting a Logistic Regression Model on a HighDimensional Dataset. This increase could be attributed to the identification of non-correlated features from the complete feature set, which could have boosted the performance of the model.

In [23]:
# confusion matrix
from sklearn.metrics import confusion_matrix
confusionmatrix = confusion_matrix(y_test, pred)
print(confusionmatrix)

# classification report
from sklearn.metrics import classification_report
print(classification_report(y_test, pred))

[[109  17]
 [  1 857]]
              precision    recall  f1-score   support

         ad.       0.99      0.87      0.92       126
      nonad.       0.98      1.00      0.99       858

    accuracy                           0.98       984
   macro avg       0.99      0.93      0.96       984
weighted avg       0.98      0.98      0.98       984