## Perform Customer Segmentation Analysis in a Bank Using k-means
You are working for an international bank. The credit department is reviewing its offerings and wants to get a better understanding of its current customers. You have been tasked with performing customer segmentation analysis. You will perform cluster analysis with k-means to identify groups of similar customers.

In [1]:
#2
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
import altair as alt

In [2]:
df = pd.read_csv('Bank.dat', header=None, sep='\s\s+', prefix='X')
df.head()

<ipython-input-2-d2a85a99783d>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv('Bank.dat', header=None, sep='\s\s+', prefix='X')

,X0,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,X24
0,1,6,4,12,5,5,3,4,1,67,...,0,0,1,0,0,1,0,0,1,1.0
1,2,48,2,60,1,3,2,2,1,22,...,0,0,1,0,0,1,0,0,1,2.0
2,4,12,4,21,1,4,3,3,1,49,...,0,0,1,0,0,1,0,1,0,1.0
3,1,42,2,79,1,4,3,4,2,45,...,0,0,0,0,0,0,0,0,1,1.0
4,1,24,3,49,1,3,3,4,4,53,...,1,0,1,0,0,0,0,0,1,2.0

In [4]:
df.shape

(1000, 25)

In [6]:
#3 extract the fourth and tenth column (x3, x9)
X = df[['X3', 'X9']]
X

     X3  X9
0    12  67
1    60  22
2    21  49
3    79  45
4    49  53
..   ..  ..
995  17  31
996  39  40
997   8  38
998  18  23
999  46  27

[1000 rows x 2 columns]

In [10]:
#4 Perform data standardization by instantiating a StandardScaler object.
standard_scaler = StandardScaler()
X_scaled = standard_scaler.fit_transform(X)
X_scaled

array([[-0.74764519,  2.54797287],
       [ 1.54618474, -0.94133873],
       [-0.31755208,  1.15224823],
       ...,
       [-0.93879769,  0.29930539],
       [-0.46091645, -0.86379847],
       [ 0.87715101, -0.55363744]])

In [11]:
#5 Analyze and define the optimal number of clusters; (Elbow Method)
clusters = pd.DataFrame()
clusters['cluster_range'] = range(1, 10)
inertia = []

In [14]:
for k in clusters['cluster_range']:
    kmeans = KMeans(n_clusters=k, random_state=8).fit(X)
    inertia.append(kmeans.inertia_)

In [15]:
clusters['inertia'] = inertia
clusters

   cluster_range        inertia
0              1  604205.375000
1              2  292160.175609
2              3  208335.171054
3              4  142926.153019
4              5  110712.503241
5              6   95117.587949
6              7   82255.147724
7              8   70858.727452
8              9   61608.494310

In [16]:
alt.Chart(clusters).mark_line().encode(x='cluster_range', y='inertia')

alt.Chart(...)

Optimal range for clusters seems to be around 3